@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p id="about-contact-paragraph"> 
    BookShelf is a simple way to organize your home library. It can be used to sort your books for the shelf, 
    document the titles you own, and as a personal card catalog of your collection.
    <br />
    <br />
    From the BookShelf Index, click the "Create New" link to add a book, assigning the call number of your 
    choice. Your list of books can be sorted by title, author, or call number. You can search your collection
    quickly by title and/or author. Individual books can be edited or deleted with ease.
</p>
