@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p id="about-contact-paragraph">
    Cindy Conrad <br />
    lead developer <br />
    316.518-2869<br />
    <br />
    Matt Conrad <br />
    consultant <br />
    316.529-4451
</p>

<p id="about-contact-paragraph">
    <strong>Support:</strong> <a href="mailto:syhndie2@gmail.com">syhndie2@gmail.com</a><br />
</p>
